
@import "../../assets/scss/importScss.scss";

.main {
  @include wh(100%, 90%);

  flex-grow: 2;

  .mainTop {
    @include wh(98%, 5%);
    @include flex(flex-start, center);

    .pathList {
      @include wh(60%, 100%);
      @include flex(flex-start, center);

      .pathListItem {
        @include flex(flex-start, center);
        @include wh(100px, 100%);
        @include slh();

        font-size: $fszb;

        .separator {
          color: $fcl;
          margin: 0px 10px;
        }

        .link {
          cursor: pointer;

          &:hover {
            font-weight: bold;
          }
        }

        .active {
          font-weight: bold;
          cursor: text!important;
        }
      }
    }

    .search {
      $h: 36px;

      @include wh(40%, 100%);
      @include flex(flex-start, flex-end);

      .searchBar {
        @include wh(90%, $h);
        @include input($h, $fsz, $fc, 1px solid $fcl);

        input {
          @include wh(100%, $h);
        }
      }

      .searchButton {
        @include wh(10%, $h);
        @include button($h, $fsz, $fc, 1px solid $fcl);
      }
    }
  }
}








