@charset "utf-8";

$bg: #333;
$bgl: #555;
$bgll: #999;
$bglll: #eee;
$bga: #333;
$bgaa: #000;

$fc: #777;
$fcl: #bbb;
$fcll: #f5f5f5;

$fszss: 13px;
$fszs: 14px;
$fsz: 15px;
$fszb: 17px;
$fszbb: 19px;

$primary: rgb(64, 158, 255);
$gray:rgb(144, 147, 153);

